{% if object_list %}
<table id="id_taxestable" class="table">
    <thead style="background-color: #247ba0;color: #ffffff;">
        <tr>
            <th>Code</th>
            <th>Authority Name</th>
            <th>Authority Display Name</th>
            <th>Jurisdiction</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody style="background-color: #F4F1C9;">
      {% for item in object_list  %}
        <tr>
          <td>{{item.authority_code}}</td>
          <td>{{item.authority_name}}</td>
          <td>{{item.authority_display_name}}</td>
          <td>{{item.authority_jurisdiction}}</td>
          <td>{{item.authority_address}}</td>
          <td>{{item.authority_phone}}</td>
          <td>{{item.authority_email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
  <div class="col-12 d-flex mt-2">
    <h3 class="mx-auto">Opps! There is nothing here</h3>
  </div>
{% endif %}
