.subtitle--text {
  color: #60695c;
  font-weight: 600;
}

.mb--8px {
  margin-bottom: 8px;
}

.mb--0px {
  margin-bottom: 0px;
}

.mb--4px {
  margin-bottom: 4px;
}

.content--div {
  background: #ffffff;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.tab--title {
  display: inline-block;
  padding: 1px 6px;
  color: #8c8c8c;
  text-decoration: none;
  border-radius: 4px;
}

.tab--active {
  background-color: #e8e9ea;
  color: #000000;
}

.tab--inactive {
  background-color: #ffffff00;
  color: #8c8c8c;
}

.tab--inactive:hover, .tab--inactive.hover {
  background-color: #f8f9fa;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a.tab--link {
  margin-bottom: 0px;
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
}

a.tab--link:hover,a.tab--link.hover {
  text-decoration: none;
}

@media (max-width:767px) {
  .btn--sm-block {
    width: 100%;
    display: block;
    margin-bottom: 4px;
  }
}
