{% extends "suppliersapp/base.html" %}
{% block headblock %}
<title>Create Supplier - Conceptone</title>
{% endblock headblock %}
{% block bodyblock %}
    <div class="mt-md-2 container bg-light border rounded">
      <h3>New Supplier</h3>
      <form method="post">{% csrf_token %}
        <div class="row mb-2">
          <div class="col-md-2">
            {{ form.supplier_code.label }}
            {{ form.supplier_code }}
          </div>
          <div class="col-md-6">
            {{ form.supplier_name.label }}
            {{ form.supplier_name }}
          </div>
          <div class="col-md-4">
            {{ form.supplier_ntn_number.label }}
            {{ form.supplier_ntn_number }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8">
            {{ form.supplier_address.label }}
            {{ form.supplier_address }}
          </div>
          <div class="col-md-4">
            {{ form.supplier_city.label }}
            {{ form.supplier_city }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4">
            {{ form.supplier_phone.label}}
            {{ form.supplier_phone }}
          </div>
          <div class="col-md-4">
            {{ form.supplier_fax.label }}
            {{ form.supplier_fax }}
          </div>
          <div class="col-md-4">
            {{ form.supplier_email.label }}
            {{ form.supplier_email }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <a class="btn btn-secondary" role="button" href="{% url 'suppliersApp:ListSuppliers' %}">Cancel</a>
            <button class="btn btn btn-success" type="submit" name="button">Save</button>
          </div>
        </div>
      </form>
    </div>
{% endblock bodyblock %}
