{% extends "purchaseApp/base.html" %}
{% block bodyblock %}

<div class="container">
  <div class="col-lg-8 col-xl-6 mx-auto">
    <h2>New Purchase Order</h2>
  </div>
  <form method="post">{% csrf_token %}
      <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
        {{form.supplier.label}}
        {{form.supplier}}
      </div>
      <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
        {{form.project.label}}
        {{form.project}}
      </div>
      <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
        {{form.tax_rate.label}}
        {{form.tax_rate}}
      </div>
      <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
        {{form.po_date.label}}
        {{form.po_date}}
      </div>
      <div class="col-lg-8 col-xl-6 mx-auto" style="margin-top: 18px;">
        <button class="btn btn-success" type="submit">Next</button>
        <button class="btn btn-primary" type="reset">Reset Form</button>
        <button class="btn btn-secondary" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>

{% endblock bodyblock %}
