{% extends "purchaseApp/base.html" %}
{% load static %}
{% block headblock %}
    <title>Purchase Orders - ConceptOne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% endblock headblock %}
{% block bodyblock %}
<body style="background-color: #FFFFFF;">
    <div class="rounded mt-2 mb-2 mr-2 ml-2" style="background-color: #f0f0f0;padding-bottom: 12px;">
      <div class="row pt-2 pb-1">
        <div class="col-6">
            <h2 class="ml-3 font-raleway">Purchase Orders</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mr-3" role="button" href="{% url 'purchaseApp:createpurchaseorder' %}">New Purchase Order</a>
        </div>
      </div>
      <form id="id_search_form" po-search-url = "{% url 'purchaseApp:PurchaseOrderQuery' %}" novalidate>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
          <div class="col-md-6 col-lg-3">
              {{form.po_number.label}}
              {{form.po_number}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.supplier.label}}
              {{form.supplier}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.project.label}}
              {{form.project}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.date.label}}
              {{form.date}}
          </div>
          <div class="col-12 mt-2">
            <button id="id_search_btn" class="btn btn-primary" type="button">Search</button>
            <button id="reset_btn" class="btn btn-secondary" type="reset">Reset Form</button>
          </div>
        </div>
      </form>
    </div>
    <div class="mr-2 ml-2">
      <div class="table-responsive" style="background-color: #ffffff;">
        {% include "purchaseApp/tables/list_purchaseorderstable.html" %}
      </div>
    </div>
</body>
{% endblock bodyblock %}
{% block customjs %}
  <script src="{% static "purchaseapp/js/po-search.js" %}"></script>
{% endblock customjs %}
