{% extends "standardinvoiceapp/base.html" %}
{% block headblock %}
<title>New Standard Invoice - Conceptone</title>
{% endblock headblock %}
{% block bodyblock %}
<div class="container-fluid">
  <div class="mt-2">
    <div class="row shadow-sm mb-3">
      <div class="col-xs-12 col-md-6">
        <h4 style="margin-bottom:4px;">New standard invoice</h4>
      </div>
      <div class="col-xs-12 col-md-6 d-flex flex-column">
        <a class="btn btn-outline-primary ml-auto" role="button" href="{% url 'projectsApp:ListProjects' %}">View Invoices</a>
      </div>
    </div>

      <form method="post">{% csrf_token %}
        <div class="form-group row">
          <div class="col-xs-10 col-md-4 col-lg-2 col-form-label">
            {{form.invoice_number.label}}
          </div>
          <div class="col-sm-10 col-md-8 col-lg-6">
            {{form.invoice_number}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-10 col-md-4 col-lg-2 col-form-label">
            {{form.invoice_date.label}}
          </div>
          <div class="col-sm-10 col-md-8 col-lg-6">
            {{form.invoice_date}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-10 col-md-4 col-lg-2 col-form-label">
            {{form.customer.label}}
          </div>
          <div class="col-sm-10 col-md-8 col-lg-6">
            {{form.customer}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-10 col-md-4 col-lg-2 col-form-label">
            {{form.project.label}}
          </div>
          <div class="col-sm-10 col-md-8 col-lg-6">
            {{form.project}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-10 col-md-12 col-lg-8">
            <div class="border rounded bg-light">
              <button class="btn btn-primary" type="submit" name="button">Save & Continue</button>
              <button class="btn btn-secondary" type="reset" name="button">Reset</button>
            </div>
          </div>
        </div>

      </div>

  </form>
</div>
{% endblock bodyblock %}
