<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid"><a class="navbar-brand" href="#">conceptOne</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav flex-grow-1">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="{% url 'crudbasic:index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
                Sales</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'salesApp:ListSaleOrders' %}">View Sale Orders</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'salesApp:ListInvoices' %}">View Invoices</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" role="presentation" href="{% url 'salesApp:createsaleorder' %}">New Sale Order</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'salesApp:createsoinvoice' %}">New Invoice</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
                Purchases</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'purchaseApp:ListPurchaseOrders' %}">View Purchase Order</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'purchaseApp:createpurchaseorder' %}">New Purchase Order</a>
                  <a class="dropdown-item" role="presentation" href="#">Third Item</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
                Contracts</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:projects' %}">View Projects</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:createproject' %}">Create New Project</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:createproject' %}">Manage Contracts</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:createproject' %}">Bill of Quantity</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Progress</a>
                  <a class="dropdown-item" href="#">Deliverables</a>
                  <a class="dropdown-item" href="#">Receivable Maturity</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
                Partners</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'customersApp:ListCustomers' %}">View Customers</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'customersApp:CreateCustomer' %}">Create New Customer</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" role="presentation" href="{% url 'suppliersApp:ListSuppliers' %}">View Suppliers</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'suppliersApp:CreateSupplier' %}">Create New Supplier</a>
                </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
              Inventory</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'itemsApp:CreateItem' %}">Create Item</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'itemsApp:ListItems' %}">View Items</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">
                Taxes</a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:taxrates' %}">View Taxes</a>
                  <a class="dropdown-item" role="presentation" href="{% url 'crudbasic:createtax' %}">Create New Tax</a>
                </div>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#">HR</a>
            </li>
            <li class="nav-item flex-shrink-1 ml-auto" role="presentation">
              <a class="nav-link" href="#"><i class="fa fa-user"></i></a>
            </li>
        </ul>
    </div>
  </div>
</nav>
