<nav class="navbar navbar-light navbar-expand-md shadow-sm" style="padding-left: 0px;margin-left: -15px;">
    <div class="container-fluid"><button class="btn ml-4 ml-md-2" id="menu-toggle" type="button" style="border-radius: 0px;margin-left: 2px;"><i class="fa fa-angle-left" id="menu-toggle-btn-icon" style="font-size: 18px;"></i></button><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse pl-3" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="#" style="margin-left: 8px;">First Item</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="margin-left: 8px;">Second Item</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="margin-left: 8px;">Third Item</a></li>
            </ul>
        </div>
    </div>
</nav>
