<table id="id_standardinvoicetable" class="table">
    <thead style="background:#e0e0e0;">
        <tr>
            <th>Line</th>
            <th>Item Description</th>
            <th>UoM</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Tax</th>
            <th>Tax Amount</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <div>
        <tr class="d-none d-lg-table-row">
          <form method="post">{% csrf_token %}
            <td></td>
            <td>{{form.item}}</td>
            <td></td>
            <td>{{form.quantity}}</td>
            <td>{{form.sale_price}}</td>
            <td>{{form.tax}}</td>
            <td><input readonly placeholder="0.00" class='form-control' type="text" name="" value=""></td>
            <td><input readonly placeholder="0.00" class='form-control' type="text" name="" value=""></td>
            <td><button class="btn btn-success rounded-0" type="submit"><b>+</b></button></td>
          </form>
        </tr>
      </div>
      {% for item in object_list  %}
        <tr>
          <td>{{item.employee_id}}</td>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.company.company_name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.designation}}</td>
          <td>{{item.phone_1}}</td>
          <td>{{item.email_1}}</td>
          <td>{{item.address}}, {{item.city.city_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
