<table id="id_standardinvoicetable" class="table">
    <thead style="background-color: #247ba0;color: #ffffff;">
        <tr>
            <th>Line</th>
            <th>Item Description</th>
            <th>UoM</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Tax</th>
            <th>Tax Amount</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody style="background-color: #F4F1C9;">
      {% for item in object_list  %}
        <tr>
          <td>{{item.employee_id}}</td>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.company.company_name}}</td>
          <td>{{item.department}}</td>
          <td>{{item.designation}}</td>
          <td>{{item.phone_1}}</td>
          <td>{{item.email_1}}</td>
          <td>{{item.address}}, {{item.city.city_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
