<div id="id_sale_order_form">
  <div class="form-group row">
    <div class="col-sm-12 col-md-4 col-lg-2 col-form-label">
      <b>{{form.supplier.label}}</b>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      {{form.supplier}}
      <button id="id_btn_supplier_select" class="btn btn-secondary mt-2" type="button" name="button">Confirm</button>
      <input type="hidden" id="id_get_form_data_url" name="form_data_url" value="{% url 'saleorderinvoicesApp:GetFormData' %}">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 col-md-4 col-lg-2 col-form-label">
      {{form.sale_order.label}}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      {{form.sale_order}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 col-md-4 col-lg-2 col-form-label">
      {{form.invoice_number.label}}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      {{form.invoice_number}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 col-md-4 col-lg-2 col-form-label">
      {{form.invoice_date.label}}
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      {{form.invoice_date}}
    </div>
  </div>
</div>
