<div class="shadow">
  <table id="saleorderitemlist" class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Line</th>
        <th>Description</th>
        <th>Order Quantity</th>
        <th>Available Quantity</th>
        <th>Billed Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
      <tr>
        <td><input type="checkbox" name="saleorderitem" value="{{item.id}}"></td>
        <td>{{item.line_number}}</td>
        <td>{{item.item.item_description}}</td>
        <td>{{item.order_quantity}}</td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" id="id_sale_order_item_selection" type="button" name="">Confirm</button>
    <input type="hidden" id="id_select_saleorder_item_url" name="supplier_url" value="{% url 'saleorderinvoicesApp:SelectSaleOrderItem' %}">
  </div>
</div>
