<li class="nav-item">
  <a class="nav-link" href="#" style="margin-left: 8px;"><i class="fa fa-plus mr-1"></i>New</a></li>
<li class="nav-item">
  <a class="nav-link" href="{% url "saleorderinvoicesApp:ListPublishedSaleOrderInvoice" %}" style="margin-left: 8px;"><i class="fa fa-file mr-1"></i>Published</a></li>
<li class="nav-item">
  <a class="nav-link" href="{% url "saleorderinvoicesApp:ListUnpublishedSaleOrderInvoice" %}" style="margin-left: 8px;"><i class="fa fa-file-o mr-1"></i>Drafts</a></li>
