<!DOCTYPE html>
{% extends "saleorderinvoicesapp/base.html" %}
{% load static %}
{% block headblock %}
<title>New SO Invoice | conceptOne</title>
<link rel="stylesheet" href="{% static 'saleorderinvoicesapp/css/create_saleorderinvoiceitem.css' %}">
{% endblock headblock %}
{% block bodyblock %}
<div class="container-fluid">
{% if invoice_form.errors %}
  {% for field in invoice_form %}
    {% for error in field.errors %}
    <div class="mt-1 mb-0 alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{error|escape}}
    </div>
    {% endfor%}
  {% endfor %}
{% endif%}

{% if messages %}
  {% for message in messages %}
    <div class="mt-1 mb-0 alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="row pt-1">
  <div class="col-12">
    <h4 style="margin-top:6px;margin-bottom:2px;">New Sale Order Invoice</h4>
  </div>
</div>

      <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card h-100" style="margin-top: 8px;border-right-style: none;border-bottom-style: none;border-left-style: none;">
                <div class="card-body flex-column d-flex shadow-sm" style="border-style: none;">
                    <h5 class="card-title">Invoice to</h5>
                    <h6 class="text-muted card-subtitle mb-2">{{buyer.customer_name}}</h6>
                    <p class="card-text text-card-detail">{{buyer.customer_address}}, {{buyer.customer_city}}</p>
                    <p class="card-text text-card-detail">{{buyer.customer_phone}}</p>
                    <p class="card-text text-card-detail">{{buyer.customer_email}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100" style="margin-top: 8px;border-right-style: none;border-bottom-style: none;border-left-style: none;">
                <div class="card-body flex-column d-flex shadow-sm" style="border-style: none;">
                    <h5 class="card-title">Project</h5>
                    <h6 class="text-muted card-subtitle mb-2">{{project.project_name}}</h6>
                    <p class="card-text text-card-detail"><b>Code </b>{{project.project_code}}</p>
                    <p class="card-text text-card-detail"><b>Contract no </b>{{project.contract_number}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card h-100" style="margin-top: 8px;border-right-style: none;border-bottom-style: none;border-left-style: none;">
                <div class="card-body flex-column d-flex shadow-sm" style="border-style: none;">
                    <h5 class="card-title">Sale Order</h5>
                    <h6 class="text-muted card-subtitle mb-2">{{sale_order.so_number}}</h6>
                    <p class="card-text text-card-detail"><b>Buyer PO </b> {{sale_order.buyer_po_number}}</p>
                    <p class="card-text text-card-detail"><b>Amount </b> {{sale_order.amount}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="background-color: #ffffff;border-style: solid;border-top-width: 4px;border-top-color: #c6c6c6;border-right-style: none;border-bottom-style: none;border-left-style: none;">
                <div class="card-body shadow-sm">
                    <h4 class="card-title">Invoice information</h4>
                    <form method=POST>{% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                              {{invoice_form.invoice_number.label}}
                              {{invoice_form.invoice_number}}

                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                              {{invoice_form.invoice_date.label}}
                              {{invoice_form.invoice_date}}
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col">
                              <div class="table-responsive shadow-sm table-scrollbar" style="height: 370px;">
                                  <table class="table">
                                      <thead class="" style="background-color: #87aa8b;color: #ffffff;">
                                          <tr>
                                              <th>Line</th>
                                              <th>Description</th>
                                              <th>UoM</th>
                                              <th>Unit Price</th>
                                              <th>Available Quantity</th>
                                              <th>Bill Quantity</th>
                                              <th>Amount</th>
                                              <th>Tax Rate</th>
                                              <th>Tax Amount</th>
                                              <th>Total Amount</th>
                                          </tr>
                                      </thead>
                                      <tbody style="background-color: #ffffff;">
                                        {{formset.management_form}}
                                        {% for item in line_item %}
                                        <tr style="border-bottom:2px solid #87aa8b;">
                                            <td style="width:5%">{{item.line_number}}</td>
                                            <td title="{{item.item.item_description}}" style="white-space: nowrap;text-overflow:ellipsis; overflow: hidden; max-width:1px;width:17%">{{item.item.item_description}}</td>
                                            <td style="width:7%">{{item.item.item_uom}}</td>
                                            <td style="width:10%">{{item.sale_price}}</td>
                                            <td style="width:10%">{{item.order_quantity}}</td>
                                            <td style="width:13%">{{item.form.bill_quantity}}{{item.form.id_form}}</td>
                                            <td style="width:10%"><input class="form-control form-control-sm" disabled type="text" name="" value=""></td>
                                            <td style="width:7%">{{item.tax.tax_value}}</td>
                                            <td style="width:10%"><input class="form-control form-control-sm" disabled type="text" name="" value=""></td>
                                            <td style="width:10%"><input class="form-control form-control-sm" disabled type="text" name="" value=""></td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                              <button class="btn btn-secondary" type="button">Cancel</button>
                              <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock bodyblock %}
