<!DOCTYPE html>
{% extends "saleorderinvoicesapp/base.html" %}
{% load static %}
{% block headblock %}
  <link rel="stylesheet" href="{% static 'saleorderinvoicesapp/css/invoice_table.css' %}">
  <title>View Invoice | conceptOne</title>
{% endblock %}
{% block bodyblock %}
<div class="mt-1">
  <h5 style="color: #60695c;">SALE ORDER INVOICE</h5>
</div>
    <div class="shadow-sm" style="padding: 10px;border: 1px solid #ced4da;">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div style="border-left-style: solid;border-left-color: #0080ff;padding-left: 6px;">
                <h6 class="text-muted mb-2">INVOICE INFORMATION</h6>
                <h6 style="margin-bottom: 0px;margin-top: -6px;">{{ invoice.invoice_number }}</h6>
                <p style="margin-bottom: 0px;">{{ invoice.invoice_date }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div style="border-left-style: solid;border-left-color: #0080ff;padding-left: 6px;">
                <h6 class="text-muted">INVOICE TO</h6>
                <h6 style="margin-bottom: 0px;margin-top: -6px;">{{ invoice.sale_order.buyer.customer_name }}</h6>
                <p style="margin-bottom: 0px;">{{ invoice.sale_order.buyer.customer_code }}</p></div>
        </div>
          <div class="col-12 col-md-6 col-lg-3 mb-2">
              <div style="border-left-style: solid;border-left-color: #0080ff;padding-left: 6px;">
                  <h6 class="text-muted">PROJECT</h6>
                  <h6 style="margin-bottom: 0px;margin-top: -6px;">{{ invoice.sale_order.project.project_name}}</h6>
                  <p style="margin-bottom: 0px;">{{ invoice.sale_order.project.project_code }}</p></div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-2">
              <div style="border-left-style: solid;border-left-color: #0080ff;padding-left: 6px;">
                  <h6 class="text-muted">SALE ORDER</h6>
                  <h6 style="margin-bottom: 0px;margin-top: -6px;">{{ invoice.sale_order.so_number }}</h6>
                  <p style="margin-bottom: 0px;">Customer PO: {{ invoice.sale_order.buyer_po_number }}</p></div>
          </div>
      </div>
    </div>

    <div class="flex-grow-1 overflow-auto mt-2 mb-2 shadow-sm" style="border-radius: 4px;border: 1px solid #ced4da;">
      <div class="table-responsive-md invoice_table" style="padding: 0px;">
        <table class="table invoice_table" style="">
            <thead>
                <tr>
                    <th style="position: sticky;top: 0;width: 3%;">Line</th>
                    <th style="position: sticky;top: 0;width: 22%;" class="text-left">
                      Desciption
                    </th>
                    <th style="position: sticky;top: 0;width: 9%;">UoM</th>
                    <th style="position: sticky;top: 0;width: 9%;">Rate</th>
                    <th style="position: sticky;top: 0;width: 9%;">Quantity</th>
                    <th style="position: sticky;top: 0;width: 10%;">Amount</th>
                    <th style="position: sticky;top: 0;width: 9%;">Tax</th>
                    <th style="position: sticky;top: 0;width: 14%;">Tax Amount</th>
                    <th style="position: sticky;top: 0;width: 15%;">Total Amount</th>
                </tr>
            </thead>
            <tbody>
              {% if invoice_items %}
                {% for line_item in invoice_items  %}
                  <tr>
                      <td>{{line_item.item.line_number}}</td>
                      <td style="text-align:left;white-space: nowrap;text-overflow:ellipsis; overflow: hidden; max-width:1px;">
                        {{line_item.item.item.item_description}}
                      </td>
                      <td>{{line_item.item.item.item_uom}}</td>
                      <td style="text-align:right;">{{line_item.item.sale_price}}</td>
                      <td style="text-align:right;">{{line_item.bill_quantity}}</td>
                      <td style="text-align:right;">{{line_item.amount}}</td>
                      <td style="text-align:right;">{{line_item.item.tax.tax_value}}</td>
                      <td style="text-align:right;">{{line_item.tax_amount}}</td>
                      <td style="text-align:right;">{{line_item.total_amount}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="9">No items exists in this invoice</td>
                </tr>
              {% endif %}

            </tbody>
        </table>
    </div>
    </div>

    <div class="mb-2 invoice_total shadow-sm" style="border-radius: 4px;">
      <div class="row">
          <div class="col"><label>Amount</label><input type="text" readonly value="{{invoice.amount}}"/></div>
          <div class="col"><label>Tax Amount</label><input type="text" readonly value="{{invoice.tax_amount}}" /></div>
          <div class="col"><label>Total Amount</label><input type="text" readonly value="{{invoice.total_amount}}" /></div>
      </div>
    </div>
{% endblock bodyblock %}
{% block customjs %}

{% endblock customjs %}
