{% extends "customersapp/base.html" %}
{% load static %}
{% block headblock %}
  <title>List Customers - conceptOne</title>
{% endblock headblock %}
{% block bodyblock %}
<body style="background-color: #FFFFFF;">
    <div class="rounded mt-2 mb-2 mr-2 ml-2" style="background-color: #f0f0f0;padding-bottom: 12px;">
      <div class="row pt-2 pb-1">
        <div class="col col-6 pt-2 pb-1">
            <h2 class="font-raleway ml-3">Customers</h2>
        </div>
        <div class="col text-right col-6 pt-2 pb-1">
            <a class="btn btn-primary mr-3" role="button" href="{% url 'customersApp:CreateCustomer' %}">Create New Customer</a>
        </div>
      </div>
      <form id="id_search_form" customer-search-url = "{% url 'customersApp:CustomerQuery' %}" novalidate>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
          <div class="col-md-6 col-lg-3">
              {{form.customer_name.label}}
              {{form.customer_name}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.customer_code.label}}
              {{form.customer_code}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.customer_ntn_number.label}}
              {{form.customer_ntn_number}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.customer_phone.label}}
              {{form.customer_phone}}
          </div>
          <div class="col-12 mt-2">
            <button id="id_search_btn" class="btn btn-primary" type="button">Search</button>
            <button id="reset_btn" class="btn btn-secondary" type="reset">Reset Form</button>
          </div>
        </div>
      </form>
    </div>
    <div class="mr-2 ml-2">
      <div class="table-responsive" style="background-color: #ffffff;">
        {% include "customersApp/tables/list_customerstable.html" %}
      </div>
    </div>
</body>
{% endblock bodyblock %}
{% block customjs %}
  <script src="{% static 'customersapp/js/customer-search.js' %}"></script>
{% endblock customjs %}
