<!DOCTYPE html>
    {% for customer in page_data %}
    <tr scope="row">
      <td>{{ customer.customer_code }}</td>
      <td>
        <a href="update/{{customer.id}}/">{{ customer.customer_name }}</a>
      </td>
      <td>{{ customer.customer_address }}</td>
      <td>{{ customer.customer_city }}</td>
      <td>{{ customer.customer_phone }}</td>
      <td>{{ customer.customer_fax }}</td>
      <td>{{ customer.customer_email }}</td>
      <td>{{ customer.customer_ntn_number }}</td>
    </tr>
    {% endfor %}
