{% extends "salesApp/base.html" %}
{% load static %}
{% block bodyblock %}
    <div class="container" style="margin-top: 18px;">
        <div class="col-lg-8 col-xl-6 mx-auto">
            <h2>New Invoice</h2>
        </div>
        <form method="POST">{% csrf_token %}
          <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
            {{form.sale_order.label}}
            {{form.sale_order}}
          </div>
          <div class="col-lg-8 col-xl-6 mx-auto" style="margin-bottom: 12px;">
            {{form.si_date.label}}
            {{form.si_date}}
          </div>
          <div class="col-lg-8 col-xl-6 mx-auto" style="margin-top: 36px;">
            <button class="btn btn-secondary" type="button">Cancel</button>
            <button class="btn btn-primary" type="reset" style="margin-left: 12px;">Reset Form</button>
            <button class="btn btn-success" type="submit" style="margin-left: 12px;">Save and Continue</button>
          </div>
        </form>
    </div>
{% endblock bodyblock %}
{% block customjs %}
<script type="text/javascript" src="{% static "js/date-restrict.js" %}"></script>
{% endblock customjs %}
