<!DOCTYPE html>
{% extends "salesApp/base.html" %}
{% load static %}
{% block headblock %}
    <title>Create New Invoice</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static "css\createinvstyles.css" %}">
{% endblock headblock %}

{% block bodyblock %}
    <div style="width: 100%;">
        <div>
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-md-4 col-lg-3 col-xl-3" style="padding-left: 0px;padding-right: 0px;">
                    <div style="padding: 3px;background-color: #003554;padding-left: 3px;padding-bottom: 16px;padding-top: 16px;">
                        <h1 class="text-center" style="color: #ffffff;margin-bottom: 0px;">New Invoice</h1>
                    </div>
                </div>
                <div class="col-lg-5 d-md-flex d-lg-flex align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center" style="background-color: #006494;padding-right: 10px;padding-left: 10px;">
                    <div style="color: #c9d6e3;">
                        <p class="inv-info" style="margin-bottom: 0px;color: #ffffff;">CMpak LDI Ltd</p>
                        <p class="inv-info" style="margin-bottom: 0px;color: #ffffff;">CMPak North Y2019 Project</p>
                        <p class="inv-info" style="margin-bottom: 0px;color: #ffffff;">1123</p>
                    </div>
                </div>
                <div class="col-lg-4 d-md-flex d-lg-flex align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center" style="background-color: #006494;">
                    <div class="table-borderless header-table" style="padding-right: 15px;">
                        <table class="table table-sm header-table">
                            <tbody>
                                <tr>
                                    <td class="text-right" style="padding: 0px;">Invoice Amount</td>
                                    <td class="text-right" style="padding: 0px;">0123456789011</td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="padding: 0px;">Tax Amount</td>
                                    <td class="text-right" style="padding: 0px;">0123456789011<br></td>
                                </tr>
                                <tr>
                                    <td class="text-right" style="padding: 0px;">Total Amount</td>
                                    <td class="text-right" style="padding: 0px;">012345678901<br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row" style="margin-top: 0px;margin-right: 0px;margin-left: 0px;">
                <div class="col" style="padding-right: 0px;padding-left: 0px;">
                    {% include "salesApp/tables/newinvoiceitemstable.html" %}
                </div>
            </div>
        </div>
        <div class="h-25" style="margin-top: 12px;">
            <div class="row" style="margin-right: 0px;margin-left: 0px;">
                <div class="col" style="padding-left: 16px;padding-right: 0px;"><button class="btn btn-success rounded-0" type="submit">Publish Invoice</button></div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
