{% extends "salesApp/base.html" %}
{% load static %}
{% block headblock %}
    <title>Sale Orders - ConceptOne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    {% comment %} <link rel="stylesheet" href="{% static "css\masterstyles.css" %}"> {% endcomment %}
{% endblock headblock %}
{% block bodyblock %}
<body style="background-color: #FFFFFF;">
    <div class="rounded mt-2 mb-2 mr-2 ml-2" style="background-color: #f0f0f0;padding-bottom: 12px;">
      <div class="col col-12 pt-2 pb-1">
          <h2 class="font-raleway">Sale Orders</h2>
      </div>
      <form id="id_search_form" po-search-url = "{% url 'salesApp:SaleOrderQuery' %}" novalidate>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
          <div class="col-md-6 col-lg-3">
              {{form.so_number.label}}
              {{form.so_number}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.customer.label}}
              {{form.customer}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.project.label}}
              {{form.project}}
          </div>
          <div class="col-md-6 col-lg-3">
              {{form.date.label}}
              {{form.date}}
          </div>
          <div class="col-12 mt-2">
            <button id="id_search_btn" class="btn btn-primary" type="button">Search</button>
            <button id="reset_btn" class="btn btn-secondary" type="reset">Reset Form</button>
          </div>
        </div>
      </form>
    </div>
    <div class="mr-2 ml-2">
      <div class="table-responsive" style="background-color: #ffffff;">
        {% if invalid_search %}
          <p>Invalid Search Criteria</p>
        {% else %}
          {% include "salesApp/tables/list_saleorderstable.html" %}
        {% endif %}
      </div>
    </div>
</body>
{% endblock bodyblock %}
{% block customjs %}
  <script src="{% static "salesapp/js/so-search.js" %}"></script>
{% endblock customjs %}
