{% include "salesApp/base.html" %}
{% block bodyblock %}
{% load static %}
<div style="margin-top: 12px;margin-left: 12px;margin-bottom: 12px;margin-right: 12px;">
    <h3>New Invoice</h3>
</div>
<div style="margin: 12px;">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div style="margin: 6px;margin-right: 3px;margin-left: 3px;">
                <h5 style="margin-bottom: 4px;">SO Number</h5>
                <p>{{so.so_number}}</p>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div style="margin: 6px;margin-right: 3px;margin-left: 3px;">
                <h5 style="margin-bottom: 4px;">Customer</h5>
                <p style="margin-bottom: 0px;">{{so.customer}}</p>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div style="margin: 6px;margin-right: 3px;margin-left: 3px;">
                <h5 style="margin-bottom: 4px;">Project</h5>
                <p style="margin-bottom: 0px;">{{so.project}}</p>
            </div>
        </div>
    </div>
</div>
<form method="POST">{% csrf_token %}
  <div style="margin: 12px;">
      <p style="margin-bottom: 8px;margin-top: 12px;">Select items to Invoice from the list</p>
        {% include "salesApp/tables/selectsiitemfromsotable.html" %}
  </div>

  <div class="row" style="margin: 12px">
    <button class="btn btn-primary ml-auto" type="submit" name="button">Next</button>
  </div>
</form>
{% endblock bodyblock %}
