<!DOCTYPE html>
{% include "salesApp/base.html" %}

<div class="row mt-1 ml-1 mb-2">
    <div class="col-lg-12 col-xl-12">
        <h2>Sale Order</h2>
    </div>
</div>
    <div>
        <div class="mr-md-2 ml-md-2">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-2 mr-1 ml-1 mr-md-0 ml-md-0">
                    <div class="border rounded" style="margin-bottom: 8px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">
                          SO Number</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                          {{so.so_number}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 8px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Customer</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                          {{so.customer}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 8px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Project</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.project}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 8px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">PO Number</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.customer_po_number}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 8px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Total Amount</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.so_amount}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 12px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Tax Amount</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.tax_amount}}</p>
                    </div>
                    <div style="margin-top: 12px;">
                      <button class="btn btn-success" type="button" name="button">Publish</button>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-10 mr-1 ml-1 mr-md-0 ml-md-0">
                    <div class="row">
                        <div class="col">
                            <form method="post">{% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-12">
                                      {{form.item.label}}
                                      {{form.item}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.order_quantity.label}}
                                      {{form.order_quantity}}
                                    </div>
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.unit_price.label}}
                                      {{form.unit_price}}
                                    </div>
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.tax_rate.label}}
                                      {{form.tax_rate}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 col-lg-2 col-xl-1 mr-1 ml-1 mr-md-0 ml-md-0" style="margin-top: 12px;">
                                      <button class="btn btn-primary" type="submit" style="width: 100%;">Add</button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-1 ml-1 mr-1 ml-md-0 mr-md-0" style="margin-top: 12px;">
                                      <button class="btn btn-secondary" type="reset" style="width: 100%;">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                      {% if items %}
                      {% include "salesApp/tables/soadditemstable.html" %}
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
