<!DOCTYPE html>
{% include "salesApp/base.html" %}

<div class="row mt-1 ml-1 mb-2">
    <div class="col-lg-12 col-xl-12">
        <h2>Sales Order</h2>
    </div>
</div>
    <div>
        <div class="mr-md-2 ml-md-2">
            <div class="row">
                <div class="col-md-3 col-lg-3 mr-1 ml-1 mr-md-0 ml-md-0">
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">
                          SO Number</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                          {{so.so_number}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Customer</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                          {{so.so_customer}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Project</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.so_project}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">PO Number</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.so_ponumber}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Total Amount</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.so_amount}}</p>
                    </div>
                    <div class="border rounded" style="margin-bottom: 6px;">
                        <p style="margin-left: 3px;margin-bottom: 1px;">Tax Amount</p>
                        <p style="margin-bottom: 0px;margin-left: 3px;">
                        {{so.so_tax_amount}}</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 mr-1 ml-1 mr-md-0 ml-md-0">
                    <div class="row">
                        <div class="col">
                            <form method="post">{% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-12">
                                      {{form.sale_order_item.label}}
                                      {{form.sale_order_item}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.so_quantity.label}}
                                      {{form.so_quantity}}
                                    </div>
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.sale_price.label}}
                                      {{form.sale_price}}
                                    </div>
                                    <div class="col-md-12 col-lg-4" style="margin-top: 12px;">
                                      {{form.so_tax_rate.label}}
                                      {{form.so_tax_rate}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 col-lg-2 col-xl-2 mr-1 ml-1 mr-md-0 ml-md-0" style="margin-top: 12px;">
                                      <button class="btn btn-primary" type="submit" style="width: 100%;">Add Item</button>
                                    </div>
                                    <div class="col-md-3 col-lg-2 ml-1 mr-1 ml-md-0 mr-md-0" style="margin-top: 12px;">
                                      <button class="btn btn-info" type="reset" style="width: 100%;">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-1 mr-1">
      {% if items %}
      {% include "salesApp/tables/soadditemstable.html" %}
      {% endif %}
    </div>
