{% extends "salesApp/base.html" %}
{% load static %}
{% block headblock %}
    <title>Create New Invoice</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static "css\masterstyles.css" %}">
{% endblock headblock %}
{% block bodyblock %}
<body style="background-color: #e1dfe1;">
    <div class="shadow-sm" style="background-color: #ffffff;padding-bottom: 12px;margin-bottom: 18px;">
        <div class="col col-12 pt-2 pb-2">
            <h2 class="font-raleway">Invoices</h2>
        </div>
        <form id="id_search_form" invoice-search-url = "{% url 'salesApp:viewinvoicelist' %}" novalidate>
        <div class="row" style="margin-right: 0px;margin-left: 0px;">

            <div class="col-md-6 col-xl-3">
                {{form.si_number.label}}
                {{form.si_number}}
            </div>
            <div class="col-md-6 col-xl-3">
                {{form.sale_order.label}}
                {{form.sale_order}}
            </div>
            <div class="col-md-6 col-xl-3">
                {{form.customer.label}}
                {{form.customer}}
            </div>
            <div class="col-md-6 col-xl-3">
                {{form.project.label}}
                {{form.project}}
            </div>
            <div class="col mt-3">
              <button id="id_search_btn" class="btn btn-primary" type="button">Search</button>
            </div>

        </div>
        </form>
    </div>
    <div class="mr-3 ml-3">
      <div class="table-responsive" style="background-color: #ffffff;">
        {% if invalid_search %}
          <p>Invalid Search Criteria</p>
        {% else %}
          {% include "salesApp/tables/viewinvoicestable.html" %}
        {% endif %}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
      $("input").on("input", function () {
          $("#id_si_number").removeClass("is-invalid");
          $("#id_si_number").removeClass("is-invalid");
          $("#id_sale_order").removeClass("is-invalid");
          $("#id_customer").removeClass("is-invalid");
          $("#id_project").removeClass("is-invalid");
      });
      $("#id_search_btn").click(function () {
      if (($.trim($("#id_si_number").val()).length === 0 ) &&
          ($.trim($("#id_sale_order").val()).length === 0 ) &&
          ($.trim($("#id_customer").val()).length === 0 ) &&
          ($.trim($("#id_project").val()).length === 0 )) {
              $("#id_si_number").addClass("is-invalid");
              $("#id_sale_order").addClass("is-invalid");
              $("#id_customer").addClass("is-invalid");
              $("#id_project").addClass("is-invalid");
              console.log("Fill in the required fields");
        }
      else {
          var search_param = $("#id_customer").val();
          var url = $("#id_search_form").attr("invoice-search-url")
          console.log(search_param);
          console.log(url);
          // var ajaxData = [];
          // if ($("#id_si_number").val().length !== 0) {
          //   ajaxData.push({
          //     key: 'invoice_number',
          //     value: $("#id_si_number").val()
          //   });
          // }
          // if ($("#id_customer").val().length !== 0) {
          //   ajaxData.push({
          //     key: 'customer',
          //     value: $("#id_customer").val()
          //   });
          $.ajax({
            url: url,
            datatype:'json',
            // data:ajaxData,
            data: {
              'invoice_number': $("#id_si_number").val(),
              'sale_order': $("#id_sale_order").val(),
              'project': $("#id_project").val(),
              'customer': $("#id_customer").val(),
            },
            success: function (new_html_table) {
                console.log(new_html_table);
                // $("#id_customer").val('Success');
                $("#invoiceviewtable").html(new_html_table);
                }
              });
        }
      });
    </script>
</body>
{% endblock bodyblock %}
