<div class="table-responsive" style="height: 500px;background-color: #c1d1bf;">
    <table class="table">
        <thead style="background-color: #00aacc;color: #ffffff;">

            <tr>
                <th style="width:4%;">Line</th>
                <th style="width:20%;">Description</th>
                <th style="width:4%;">UoM</th>
                <th style="width:9%;">Order Quantity</th>
                <th style="width:9%;">Available Quantity</th>
                <th style="width:14%;">Invoice Quantity</th>
                <th style="width:10%;">Unit Price</th>
                <th style="width:10%;">Total Price</th>
            </tr>
        </thead>
        <tbody style="background-color: #c1d1bf;">
            {{formset.management_form}}
            {% for items in line_items  %}
              <tr>
                <td>{{items.so_line_number}}</td>
                <td>{{items.item}}</td>
                <td>{{items.item.item_uom}}</td>
                <td>{{items.order_quantity}}</td>
                <td>{{items.available_quantity}}</td>
                <td>{{items.form.qty_form}}<small>{{error_msg}}</small>{{items.form.id_form}}</td>
                <td>{{items.unit_price}}</td>
                <td>{{items.total_price}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
