<div class="table-responsive" style="height: 500px;background-color: #c1d1bf;">
    <table class="table">
        <thead style="background-color: #00aacc;color: #ffffff;">

            <tr>
                <th style="width:5%;">Line</th>
                <th style="width:25%;">Description</th>
                <th style="width:5%;">UoM</th>
                <th style="width:10%;">Unbilled Quantity</th>
                <th style="width:15%;">Invoice Quantity</th>
                <th style="width:10%;">Unit Price</th>
                <th style="width:10%;">Total&nbsp;Price</th>
            </tr>
        </thead>
        <tbody style="background-color: #c1d1bf;">
            {{formset.management_form}}
            {% for items in line_items  %}
              <tr>
                <td>{{items.so_line_number}}</td>
                <td>{{items.item}}</td>
                <td>{{items.item.item_uom}}</td>
                <td>{{items.order_quantity}}</td>
                <td>{{items.form.qty_form}}{{items.form.id_form}}</td>
                <td>{{items.unit_price}}</td>
                <td>{{items.total_price}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
