<div class="table-responsive" style="height: 500px;background-color: #c1d1bf;">
    <table class="table table-sm">
        <thead style="background-color: #00aacc;color: #ffffff;">
            <tr>
                <th>Line</th>
                <th>Description</th>
                <th>UoM</th>
                <th>Unbilled Quantity</th>
                <th>Invoice Quantity</th>
                <th>Unit Price</th>
                <th>Total&nbsp;Price</th>
            </tr>
        </thead>
        <tbody style="background-color: #c1d1bf;">
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td><input type="text" class="border-0"></td>
                <td>Cell 6</td>
                <td>Cell 7</td>
            </tr>
            <tr>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td><input type="text" class="border-0"></td>
                <td>Cell 6</td>
                <td>Cell 7</td>
            </tr>
        </tbody>
    </table>
</div>
