<div class="table-responsive table-bordered">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>SO Number</th>
                <th>Customer</th>
                <th>Project</th>
                <th>PO Number</th>
                <th>Amount</th>
                <th>Tax Amount</th>
            </tr>
        </thead>
{% if object_list %}
<tbody>
  {% for item in object_list  %}
  <tr>
      <td>
        <a href="../addsaleorderitem/{{item.id}}/">{{item.so_number}}</a>
      </td>
      <td>{{item.customer}}</td>
      <td>{{item.project}}</td>
      <td>{{item.customer_po_number}}</td>
      <td>{{item.so_amount}}</td>
      <td>{{item.tax_amount}}</td>
  </tr>
  {% endfor %}
</tbody>
{% endif %}

    </table>
</div>
