<!DOCTYPE html>
{% extends "crudbasic/base.html" %}
  {% block body_block %}
    <div class="container pb-1 border bg-light rounded">
      <h3>Provide Customer Details</h3>
        <form method="post">
          {% csrf_token %}
              <div class="row mb-2">
                <div class="col-md-2">
                  {{ form.customer_id.label}}
                  {{ form.customer_id }}
                </div>
                <div class="col-md-6">
                  {{ form.customer_name.label }}
                  {{ form.customer_name }}
                </div>
                <div class="col-md-4">
                  {{ form.customer_ntn_number.label }}
                  {{ form.customer_ntn_number }}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-8">
                  {{ form.customer_address.label }}
                  {{ form.customer_address }}
                </div>
                <div class="col-md-4">
                  {{ form.customer_city.label }}
                  {{ form.customer_city }}
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-4">
                  {{ form.customer_phone.label}}
                  {{ form.customer_phone }}
                </div>
                <div class="col-md-4">
                  {{ form.customer_fax.label }}
                  {{ form.customer_fax }}
                </div>
                <div class="col-md-4">
                  {{ form.customer_email.label }}
                  {{ form.customer_email }}
                </div>
              </div>
              <div class="row mb-4">

              </div>
        </form>
    </div>
  {% endblock %}
