<!DOCTYPE html>
{% extends 'crudbasic/base.html' %}
{% block body_block %}
<h3 class="">{{ main_title }}</h3>
<a class="" href="{% url create_link.value %}">{{ create_link.name }}</a>
<hr class="">
{% if search_form %}
<form method="POST">{% csrf_token %}
  <div class="row mb-0">
    <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
      {{ search_form.search_by}}
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
      {{ search_form.search_for }}
    </div>
    <div class="col-xl-1 col-lg-1 col-md-2 pl-2 mb-1 ml-2">
      <button class="btn btn-primary btn-sm button-custom" type="submit" value="search" name="search">Search</button>
    </div>
  </div>
</form>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <div class="mt-0 pb-3 pt-1">
    {% if page_data %}
    <table class="table table-bordered table-striped table-sm table-properties">
      <thead class="">
        <tr>
          {% for head in table_head %}
            <th scope="col">{{ head }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% if main_title == 'Customers' %}
          {% include 'crudbasic/tables/customertable.html' %}
        {% elif main_title == 'Suppliers' %}
          {% include 'crudbasic/tables/suppliertable.html' %}
        {% elif main_title == 'Items' %}
          {% include 'crudbasic/tables/itemtable.html' %}
        {% elif main_title == 'Projects' %}
          {% include 'crudbasic/tables/projecttable.html' %}
        {% elif main_title == 'Tax Rates' %}
          {% include 'crudbasic/tables/taxratetable.html' %}
        {% endif %}
      </tbody>
    </table>
    {% else %}
      <p>Oops! No Record found</p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
