<!DOCTYPE html>
{% extends base.html %}
{% body_block %}
<h3 class="">{{ main_title }}</h3>
<a class="" href="{% url 'crudbasic:createcustomer' %}">{{ create_link }}</a>
<hr class="">
<form method="POST">{% csrf_token %}
  <div class="row mb-2">
    <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
      {{ search_form.search_by}}
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
      {{ search_form.search_for }}
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 pl-2 mb-1 ml-2">
      <button class="btn btn-primary" type="submit" value="search" name="search">Search</button>
    </div>
  </div>
</form>
<div class="row">
<div class="col-md-12">
<div class="mt-2 pb-3 pt-1">
{% if page_data %}
<table class="table table-bordered table-properties">
  <thead class="thead-light">
    <tr>
      <!-- <th>S.no</th> -->
      <th>Select</th>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>NTN</th>
    </tr>
    {% for entity in page_data %}
    <tr>
      <td><input type="checkbox" name="" value=""></td>
      <td>{{ customer.customer_id }}</td>
      <td>{{ customer.customer_name }}</td>
      <td>{{ customer.customer_address }}</td>
      <td>{{ customer.customer_city }}</td>
      <td>{{ customer.customer_phone }}</td>
      <td>{{ customer.customer_fax }}</td>
      <td>{{ customer.customer_email }}</td>
      <td>{{ customer.customer_ntn_number }}</td>
    </tr>
    {% endfor %}
  </thead>
</table>
{% else %}
<p>Oops! No Record found</p>
{% endif %}
</div>
</div>
</div>

{% endblock %}
