<!DOCTYPE html>
{% extends "crudbasic/base.html" %}
  {% block body_block %}
  <div class="container pb-1 border bg-light rounded">
    <h3>Provide Item Details</h3>
    <form method="post">{% csrf_token %}
      <div class="row mb-2">
        <div class="col-md-4">
          {{ form.item_line.label }}
          {{ form.item_line }}
        </div>
        <div class="col-md-5">
          {{ form.item_type.label }}
          {{ form.item_type }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          {{ form.item_description.label }}
          {{ form.item_description }}
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          {{ form.item_uom.label }}
          {{ form.item_uom }}
        </div>
      </div>
      <div class="row mb-4">
        <a class="btn btn-secondary ml-3" href="{% url 'crudbasic:items' %}">Cancel</a>
        <button type="submit" class="btn btn-primary ml-2" name="save">Save</button>
        <button type="submit" class="btn btn-success ml-2" name="save-addnew">Save & Add Another</button>
      </div>
    </form>
  </div>
  {% endblock %}
