<!DOCTYPE html>
{% extends "crudbasic/base.html" %}
  {% block body_block %}
  <div class="container pb-1 border bg-light rounded">
    <h3>
      {% if not form.instance.pk %}
        Create New Item
      {% else %}
        Update Item Details
      {% endif %}
    </h3>
    <form method="post">{% csrf_token %}
      <div class="row mb-2">
        <div class="col-md-4">
          {{ form.item_code.label }}
          {{ form.item_code }}
        </div>
        <div class="col-md-5">
          {{ form.item_type.label }}
          {{ form.item_type }}
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          {{ form.item_description.label }}
          {{ form.item_description }}
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          {{ form.item_uom.label }}
          {{ form.item_uom }}
        </div>
      </div>
      <div class="row mb-4">
        {% url 'crudbasic:items' as back_url %}
        {% if not form.instance.pk %}
          {% include "crudbasic/buttonpanel/createbuttonpanel.html" %}
        {% else %}
          {% include "crudbasic/buttonpanel/updatebuttonpanel.html" %}
        {% endif %}
      </div>
    </form>
  </div>
  {% endblock %}
