<!DOCTYPE html>
    <title>New Customer</title>
    {% extends "crudbasic/base.html" %}
      {% block body_block %}
        <h3 class="">Customers</h3>
        <hr class="">
        <div class="row mb-2">
          <div class="col-md-2 col-sm-5">
            <button class="btn btn-primary" data-toggle="modal" data-target="#AddCustomer" type="button" name="AddNew">Add New</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SearchCustomer" aria-expanded="false" aria-controls="collapseExample" name="search">Search</button>
          </div>
        </div>

<div class="modal fade" tabindex="-1" role="dialog" id="AddCustomer">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <form method="POST">
      <div class="modal-header">
        <h5 class="modal-title">New Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" aria-hidden="true">
            <div class="row">
              <div class="col-md-6">
                {{ form.customer_id.label}}
                {{ form.customer_id }}
              </div>
              <div class="col-md-6">
                {{ form.customer_name.label }}
                {{ form.customer_name }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{ form.customer_address.label }}
                {{ form.customer_address }}
              </div>
              <div class="col-md-6">
                {{ form.customer_city.label }}
                {{ form.customer_city }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{ form.customer_phone.label}}
                {{ form.customer_phone }}
              </div>
              <div class="col-md-6">
                {{ form.customer_fax.label }}
                {{ form.customer_fax }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{ form.customer_email.label }}
                {{ form.customer_email }}
              </div>
              <div class="col-md-6">
                {{ form.customer_ntn_number.label }}
                {{ form.customer_ntn_number }}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="save">Save</button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="SearchCustomer">
    <form method="POST">{% csrf_token %}
      <div class="row align-items-end">
        <div class="col-md-2">
          {{ search_form.search_by.label }}
          {{ search_form.search_by}}
        </div>
        <div class="col-md-2">
          {{ search_form.search_for.label }}
          {{ search_form.search_for }}
        </div>
        <div class="col-md-2 pl-0">
          <span class="align-bottom">
          <button class="btn btn-primary" type="submit" value="search" name="search">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>

          <div class="row">
            <div class="col-md-12">
              <div class="mt-2 pb-3 pt-1">
                {% if customer_data %}
                <table class="table table-bordered table-properties">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th>S.no</th> -->
                      <th>Select</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>Phone</th>
                      <th>Fax</th>
                      <th>Email</th>
                      <th>NTN</th>
                    </tr>
                    {% for customer in customer_data %}
                    <tr>
                      <td><input type="checkbox" name="" value=""></td>
                      <td>{{ customer.customer_id }}</td>
                      <td>{{ customer.customer_name }}</td>
                      <td>{{ customer.customer_address }}</td>
                      <td>{{ customer.customer_city }}</td>
                      <td>{{ customer.customer_phone }}</td>
                      <td>{{ customer.customer_fax }}</td>
                      <td>{{ customer.customer_email }}</td>
                      <td>{{ customer.customer_ntn_number }}</td>
                    </tr>
                    {% endfor %}
                  </thead>
                </table>
                {% else %}
                <p>No Record Found, add customers to start</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endblock %}
