<!DOCTYPE html>
    <title>New Customer</title>
    {% extends "crudbasic/base.html" %}
      {% block body_block %}
        <h3 class="">Customers</h3>
        <hr class="">
        <div class="row mb-2">
          <div class="col-md-2 col-sm-5">
            <a class="btn btn-primary" href="{% url 'crudbasic:createcustomer' %}">Add New</a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SearchCustomer" aria-expanded="false" aria-controls="collapseExample" name="search">Search</button>
          </div>
        </div>
  </div>
  <div class="collapse" id="SearchCustomer">
    <form method="POST">{% csrf_token %}
      <div class="row align-items-end">
        <div class="col-md-2">
          {{ search_form.search_by.label }}
          {{ search_form.search_by}}
        </div>
        <div class="col-md-2">
          {{ search_form.search_for.label }}
          {{ search_form.search_for }}
        </div>
        <div class="col-md-2 pl-0">
          <span class="align-bottom">
          <button class="btn btn-primary" type="submit" value="search" name="search">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </div>

          <div class="row">
            <div class="col-md-12">
              <div class="mt-2 pb-3 pt-1">
                {% if customer_data %}
                <table class="table table-bordered table-properties">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th>S.no</th> -->
                      <th>Select</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>Phone</th>
                      <th>Fax</th>
                      <th>Email</th>
                      <th>NTN</th>
                    </tr>
                    {% for customer in customer_data %}
                    <tr>
                      <td><input type="checkbox" name="" value=""></td>
                      <td>{{ customer.customer_id }}</td>
                      <td>{{ customer.customer_name }}</td>
                      <td>{{ customer.customer_address }}</td>
                      <td>{{ customer.customer_city }}</td>
                      <td>{{ customer.customer_phone }}</td>
                      <td>{{ customer.customer_fax }}</td>
                      <td>{{ customer.customer_email }}</td>
                      <td>{{ customer.customer_ntn_number }}</td>
                    </tr>
                    {% endfor %}
                  </thead>
                </table>
                {% else %}
                <p>No Record Found, add customers to start</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endblock %}
