<!DOCTYPE html>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="" class="navbar-brand">conceptONE</a>
  <ul class="navbar-nav pl-0 ml-0">
    <li class="nav-item pl-0 ml-0">
      <a class="nav-link" href="{% url 'crudbasic:index' %}">Home</a>
    </li>
<!-- Sales Dropdown menu -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sales</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'salesApp:ListSaleOrders' %}">View Sale Orders</a>
        <a class="dropdown-item" href="{% url 'salesApp:ListInvoices' %}">View Invoices</a>
        <a class="dropdown-item" href="{% url 'salesApp:createsaleorder' %}">New Sale Order</a>
        <a class="dropdown-item" href="{% url 'salesApp:createsoinvoice' %}">New Invoice</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Payment Receivable</a>
      </div>
    </li>
<!-- Purchase Dropdown menu -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Purchases</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'purchaseApp:ListPurchaseOrders' %}">View Purchase Order</a>
        <a class="dropdown-item" href="{% url 'purchaseApp:createpurchaseorder' %}">New Purchase Order</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Payables</a>
      </div>
    </li>
<!-- Projects Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'crudbasic:projects' %}">View Projects</a>
            <a class="dropdown-item" href="{% url 'crudbasic:createproject' %}">Create New Project</a>
            <a class="dropdown-item" href="{% url 'crudbasic:createproject' %}">Manage Contracts</a>
            <a class="dropdown-item" href="{% url 'crudbasic:createproject' %}">Bill of Quantity</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Progress</a>
            <a class="dropdown-item" href="#">Deliverables</a>
            <a class="dropdown-item" href="#">Receivable Maturity</a>
        </div>
      </li>
<!-- Partners Menu item -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Partners</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'crudbasic:customers' %}">View Customers</a>
          <a class="dropdown-item" href="{% url 'crudbasic:createcustomer' %}">Create New Customer</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'crudbasic:suppliers' %}">View Suppliers</a>
          <a class="dropdown-item" href="{% url 'crudbasic:createsupplier' %}">Create New Supplier</a>
        </div>
      </li>
<!-- items menu item -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Items</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'crudbasic:items' %}">View Items</a>
          <a class="dropdown-item" href="{% url 'crudbasic:createitem' %}">Create New Item</a>
        </div>
      </li>
<!-- tax menu -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Taxes</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'crudbasic:taxrates' %}">View Taxes</a>
          <a class="dropdown-item" href="{% url 'crudbasic:createtax' %}">Create New Tax</a>
        </div>
      </li>
<!-- hr menu item -->
      <li class="nav-item">
        <a class="nav-link" href="#">HR</a>
      </li>
    </ul>
</nav>
