{% extends "crudbasic/base.html" %}
{% block body_block %}
  <div class="container pb-1 border bg-light">
    <h3>New Purchase</h3>
    <hr>
      <div class="row mb-2">
        <div class="col-md-6">
          <p>Supplier: <b>{{ po_obj.po_supplier }}</b></p>
          <p>Address: {{po_obj.po_supplier.supplier_address}}</p>
          <p>City: {{po_obj.po_supplier.supplier_city}}</p>
        </div>
        <div class="col-md-6">
          <p>Date: <b>{{ po_obj.po_date }}</b></p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <p>Po Number: <b>{{ po_obj.po_number }}</b></p>
        </div>
        <div class="col-md-6">
          <p>Tax Rate: <b>{{ po_obj.po_tax.tax_value }}%</b></p>
        </div>
      </div>
      <hr>
      <form method="POST">{% csrf_token %}
        <div class="row mb-2">
          <!-- <div class="col-md-1">
            {{ form.po_line_number.label }}
          </div> -->
          <div class="col-md-8">
            {{ form.order_item.label }}
          </div>
          <div class="col-md-1">
            {{ form.order_quantity.label }}
          </div>
          <div class="col-md-1">
            {{ form.purchase_price.label }}
          </div>
          <!-- <div class="col-md-2">
            <b>{{ form.total_price.label }}</b>
          </div> -->
        </div>
        <div class="row form-row mb-4">
          <!-- <div class="input-group col-md-1">
            {{ form.po_line_number}}
          </div> -->
          <div class="input-group col-md-8">
            {{ form.order_item}}
          </div>
          <div class="input-group col-md-1">
            {{ form.order_quantity}}
          </div>
          <div class="input-group col-md-1">
            {{ form.purchase_price}}
          </div>
          <!-- <div class="input-group col-md-2">
            {{ form.total_price}}
          </div> -->
          <!-- <div class="input-group-append"> -->
            <!-- <button class="btn btn-success btn-sm add-form-row button-custom">+</button> -->
          <!-- </div> -->
        </div>
        <button class="btn btn-success" type="submit" name="button">Add Item</button>
      </form>
      <hr>
      {% if page_data %}
      <div class="mt-0 pb-3 pt-1">
        <table class="table table-bordered table-striped table-sm table-properties">
          <thead class="">
            <tr>
              <th scope="col">PO Number</th>
              <th scope="col">Line Number</th>
              <th scope="col">Item Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Total Price</th>
              <th scope="col">Variation Number</th>
              <th scope="col">Variation Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% include 'crudbasic/tables/poitemstable.html' %}
          </tbody>
        </table>
      </div>
      {% endif %}
  </div>
{% block custom_js %}
  <script type="text/javascript">
    function auto_complete(){
      var oq = document.getElementById("order_quantity").value;
      var pp = document.getElementById("purchase_price").value;
      var tp = oq*pp;
      document.getElementById("total_price").setAttribute("value", tp);
    }
  </script>
{% endblock custom_js %}
{% endblock body_block %}
