{% extends "crudbasic/base.html" %}
{% block body_block %}
{% extends "crudbasic/base.html" %}
{% block body_block %}
  <div class="container pb-1 border bg-light rounded">
    <h3>New Purchase (Items)</h3>
      <div class="row mb-2">
        <div class="col-md-6">
          <p>Supplier: {{ object.po_supplier }}</p>
        </div>
        <div class="col-md-6">
          <p>Date: {{ object.po_date }}</p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <p>Po Number: {{ object.po_number }}</p>
        </div>
        <div class="col-md-6">
          <p>Tax Rate: </p>{{ po_form.po_tax.label }}
          {{ po_form.po_tax }}
        </div>
      </div>
      <hr>
      <form method="post">{% csrf_token %}
        <div class="row mb-4">
          <div class="col-md-6">
            {{ form.po_line_number.label }}
            {{ form.po_line_number}}
          </div>
        </div>
      </form>
  </div>
{% endblock body_block %}
