{% extends "crudbasic/base.html" %}
{% block body_block %}
  <div class="container pb-1 border bg-light rounded">
    <h3>New Purchase</h3>
    <form method="post">{% csrf_token %}
      <div class="row mb-2">
        <div class="col-md-8">
          {{ form.po_supplier.label }}
          {{ form.po_supplier }}
        </div>
        <div class="col-md-4">
          {{ form.po_date.label }}
          {{ form.po_date }}
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          {{ form.po_number.label }}
          {{ form.po_number }}
        </div>
        <div class="col-md-6">
          {{ form.po_tax.label }}
          {{ form.po_tax }}
        </div>
      </div>
      <div class="row mb-4">
        {% url 'crudbasic:purchaseorders' as back_url %}
        {% if not form.instance.pk %}
          {% include "crudbasic/buttonpanel/pocontinuepanel.html" %}
        {% else %}
          {% include "crudbasic/buttonpanel/updatebuttonpanel.html" %}
        {% endif %}
      </div>
    </form>
  </div>
{% endblock body_block %}
