<!DOCTYPE html>
<title>Projects - ConceptONE</title>
  {% extends "crudbasic/base.html" %}
    {% block body_block %}
      <h3 class="">Projects</h3>
      <a class="" href="{% url 'crudbasic:createproject' %}">Create New Project</a>
      <hr class="">
      <form method="post">
        <div class="form-group row">
          <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
            {{ search_form.search_by }}
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
            {{ search_form.search_for }}
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 pl-2 mb-1 ml-2">
            <button class="btn btn-primary" type="submit" value="search" name="search">Search</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div class="mt-2 pb-2 pt-1">
            {% if project_data %}
            <table class="table table-bordered table-properties">
              <thead class="thead-light">
                <tr>
                  <!-- <th>S.no</th> -->
                  <th>Project Name</th>
                  <th>Project Id</th>
                  <th>Project City</th>
                  <th>Customer</th>
                  <th>Project Status</th>
                </tr>
                {% for project in project_data %}
                <tr>
                  <!-- <td><input type="checkbox" name="" value=""></td> -->
                  <td>{{ project.project_name }}</td>
                  <td>{{ project.project_id }}</td>
                  <td>{{ project.project_city }}</td>
                  <td>{{ project.customer }}</td>
                  <td>{{ project.project_status }}</td>
                </tr>
                {% endfor %}
              </thead>
            </table>
            {% else %}
            <p>Oops! No Record Found</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endblock %}
