<!DOCTYPE html>
  <title>New Supplier</title>
  {% extends "crudbasic/base.html" %}
    {% block body_block %}
      <h3 class="">Suppliers</h3>
      <a class="" href="{% url 'crudbasic:createsupplier' %}">Create New Supplier</a>
      <hr class="">
      <div class="row mt-2 mb-2">
        <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
          <form method="POST">{% csrf_token %}
          {{ search_form.search_by}}
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 mb-2">
          {{ search_form.search_for }}
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 pl-2 mb-1 ml-2">
          <button class="btn btn-primary" type="submit" value="search" name="search">Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mt-2 pb-3 pt-1">
            {% if supplier_data %}
            <table class="table table-bordered table-properties">
              <thead class="thead-light">
                <tr>
                  <!-- <th>S.no</th> -->
                  <th>Select</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Phone</th>
                  <th>Fax</th>
                  <th>Email</th>
                  <th>NTN</th>
                </tr>
                {% for supplier in supplier_data %}
                <tr>
                  <td><input type="checkbox" name="" value=""></td>
                  <td>{{ supplier.supplier_id }}</td>
                  <td>{{ supplier.supplier_name }}</td>
                  <td>{{ supplier.supplier_address }}</td>
                  <td>{{ supplier.supplier_city }}</td>
                  <td>{{ supplier.supplier_phone }}</td>
                  <td>{{ supplier.supplier_fax }}</td>
                  <td>{{ supplier.supplier_email }}</td>
                  <td>{{ supplier.supplier_ntn_number }}</td>
                </tr>
                {% endfor %}
              </thead>
            </table>
            {% else %}
            <p>Oops! No Record Found</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
