<!DOCTYPE html>
{% if project_data %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <!-- <th>S.no</th> -->
      <th>Project Name</th>
      <th>Project Id</th>
      <th>Project City</th>
      <th>Customer</th>
      <th>Project Worth</th>
    </tr>
    {% for project in project_data %}
    <tr>
      <!-- <td><input type="checkbox" name="" value=""></td> -->
      <td>{{ project.project_name }}</td>
      <td>{{ project.project_id }}</td>
      <td>{{ project.project_city }}</td>
      <td>{{ project.customer }}</td>
      <td>{{ project.project_worth }}</td>
    </tr>
    {% endfor %}
  </thead>
</table>
{% else %}
<p>No Record Found, add Projects to start</p>
{% endif %}
