.section-tiles{
  padding-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  /* padding: 5px; */
  padding-bottom: 10px;
}

.updates{
  margin-top: 10px;
  margin-left: 10px;
}

.tasks{
  margin-top: 10px;
  margin-right: 10px;
}

.header{
  /* font-size: 1.5em; */
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  /* background-color: lightgrey; */
}

.info-tile{
  padding: 20px;
  color: #fff;
  border-radius: 7px;
}

.info-tile h3{
  font-size: 1.1em;
}

.tile1{
  background-color: #3D8800;
}

.tile2{
  background-color: #EC502F;
}

.tile3{
  background-color: #FF851B;
}

.tile4{
  background-color: #1B95FF;
}

/* table{
  height: 20px !important;
  display: block;
  overflow-y: scroll;
} */

.table-properties{
  height: 480px;
  display: block;
  overflow-y: scroll;
}
